{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "@devTools": "./src/dev-tools",
          "@library": "./src/library",
          "@@notepad": "./src/dev-tools/notepad",
          "@@tasks": "./src/dev-tools/tasks",
          "@@terminal": "./src/dev-tools/terminal"
        }
      }
    ]
  ]
}
